<p translate>Main.Intro</p>
<div *ngIf="mappingProfiles && mappingProfiles.length > 0" class="operation-options">
  <mat-radio-group aria-label="Select an option" [(ngModel)]="listType">
    <mat-radio-button value="SET">{{'Main.SelectSet' | translate}}</mat-radio-button>
    <mat-radio-button value="DISPLAY" *ngIf="entities.length>0">{{'Main.DisplayedRecords' | translate}}</mat-radio-button>
    <mat-radio-button value="SELECT" *ngIf="entities.length>0">{{'Main.SelectRecords' | translate}}</mat-radio-button>
  </mat-radio-group>
  <div *ngIf="listType=='DISPLAY'">
    <mat-label class="displayed-ids" translate [translateParams]="{length: entities.length}">Main.DisplayedIds</mat-label>
  </div>
  <app-select-set #selectSet *ngIf="listType=='SET'"
    (setSelected)=onSetSelected($event)>
  </app-select-set>
  <app-select-entities #selectEntities *ngIf="listType=='SELECT'"
    (entitySelected)="onRecordSelected($event)"
    [entityList]="entities"
    [selectedEntities]="mmsIds">
  </app-select-entities>

  <mat-form-field class="select-mapping-profile">
    <mat-select placeholder="{{'Main.SelectMapapingProfile' | translate}}" 
      (selectionChange)="onMappingProfileSelected($event)" [formControl]="mappingProfile" [compareWith]="compareMappingProfiles">
      <mat-option *ngFor="let profile of mappingProfiles" [value]="profile">
        {{ profile.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button (click)="load()" [disabled]="!isValid" color="primary">{{'Main.CreateActivities' | translate}}</button>
</div>